<!DOCTYPE html>
<html>
<%= form_for(@turf) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Name", :id=>"create-form" %>
  </div>
    <div class="field">
    <%= f.text_field :location, :placeholder => "Location", :id=>"create-form" %>
  </div>
  <div class="field">
    <%= f.text_field :description, :placeholder => "Description (optional)", :id=>"create-form"  %>
  </div>

  <div class="actions">
    <%= f.submit "Create Turf", :class=>"btn btn-large btn-primary submit-button"  %>
  </div>
<% end %>
</html>

