<div id = "current_turf" data-turfid= "<%= @turf.id%>">
  <table width="100%" style = "margin-bottom:50px;">

  <div class = "row">
    <tr align="center">

    <td>
    <div class="span8 hero-unit pull-left" id = "turf-header">
      <h1>Welcome to <strong><%= @turf.name %></strong>.</h1>
      <br/>
      <h2>
      Located in <strong> <%= @turf.location %>.</strong>
      This space is <strong> <%= @turf.description %>.</strong></br></h2>
      <h2 style = "display:inline-block;margin-right:50px;"> <%= pluralize(@turf.followers.count, "member") %> </h2>
      
      <%= render 'follow_form' if signed_in? %>
    </div>
    </td>
    </tr>
  </div>
  </table>

  <div class = "row-fluid centered" style="width:1500px;height:750px;">
    <div class="span8 hero-unit" id = "postunit" style = "max-height:900px;" >
      <div class="row-fluid">
        <div class="span3" style="margin-right:5px;margin-left:5px;">
          <div class = "hero-unit post-form" style = "height:240px">        
              <%= render "users/smallpic", :user => current_user %>
              <a href="/profile"><%=current_user.firstname%> <%=current_user.lastname%></a>
              <% @temp = @post %>
              <%= render 'shared/post_form' %>
          </div>

          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@turf.latitude},#{@turf.longitude}&zoom=14&size=200x200&sensor=false&markers=color:red%7C#{@turf.latitude},#{@turf.longitude}", :class => "img-polaroid"%>

        </div>
        <div class="span9" id = "postview"  style="margin-right:5px;margin-left:5px;">
          <% @post = @temp %>
          <% if @turf.posts.any? %>
            <h2 style = "text-align:left; margin-top:25px; margin-bottom:5px;"><b><%= @turf.posts.count %> posts</b></h2>
            <div class = "post-container" , style = "overflow:scroll; height:800px">  
              <ol class="posts">
                <%= render @posts %>
              </ol>
            </div>
          <%else %>
            <div class = "post-container">
              <h2><i>No posts Yet</i></h2>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class="span3 hero-unit" id = "chatunit" style = "max-height:560px;">
      <h2 style = "text-align:left; margin-top:25px; margin-bottom:5px; padding-bottom:14px;border-bottom: 1px solid #F5D280;"><b>Chat</b></h2>
      <% @temp = @chat %>
      <% if @turf.chats.any? %>
        <div class = "chat-container" style = "overflow:scroll; height:371px;">
          <ol class="chats">
            <div id = "chats-container">
            <%= render @chats.reverse %>
          </div>
          </ol>
        </div>
      <%else %>
        <div class = "chat-container">
          <h3><i>No Chats Yet</i></h3>
        </div>
      <% end %>

      <div class = "chat-form">
        <% @chat = @temp %>
        <%= render 'shared/chat_form' %>
      </div> 
    </div>
  </div>
</div>