<%= form_for(user = current_user) do |f| %>
  <div class="field"style = " margin-top:4px;">
     <%= f.password_field :password, :placeholder => "Old Password", :style=>"margin-left:10px;width:100px;", :class =>"text:focus" %>
  </div>
  <div class="field"style = " margin-top:4px;">
     <%= f.password_field :password, :placeholder => "New Password", :style=>"margin-left:10px;width:100px;", :class =>"text:focus" %>
  </div>
  <div class="field"style = " margin-top:4px;">
     <%= f.password_field :password, :placeholder => "Confirm NewPassword", :style=>"margin-left:10px;width:100px;", :class =>"text:focus" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

