<h1>Sign up</h1>
</br>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field" style = "display:inline-block;">
    <%= f.text_field :firstname, :placeholder => "First name", :id=>"signin" %>
  </div>
  <div class="field" style = "display:inline-block;">
    <%= f.text_field :lastname, :placeholder => "Last name",  :id=>"signin"%>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email", :id=>"signin" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Password", :id=>"signin"  %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Confirmation", :id=>"signin" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn" %>
  </div>
<% end %>
