<div class = "a_chat" data-time= "<%= chat.created_at%>">


<div style = "padding-bottom:50px;">
  <div>
	  <span class="content"><%= chat.user.firstname%>
	  <span class="timestamp">
	  	<i><%=time_ago_in_words(chat.created_at) %> ago</i>
	  </span>
  </div>

  <div class = "pull-left" style = "margin-right:10px; display:inline;">
    <%= render "users/thumbpic", :user => chat.user %>
  </div>
  
  <div style = "display:inline;width:80%;">
    <%=chat.content %>
  </div>
  

</div>

</div>