<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" style = "height:47px;">    

    <div class="container-fluid">
      <nav>
        <ul class="nav pull-left">
          <% if signed_in? %>
          <% current_user = @user %>
            

            <li><%= link_to "Home", '/users' %></li>
            <li><%= link_to "Learn More", "/pages/about" %></li>
          <% else %>
          

          <li class="divider-vertical"><%= link_to "Home", root_path %></li>
          
          <% end %>
       </ul>


       <ul class="nav pull-right" style = "divider-vertical: 1px solid;">
          <% if signed_in? %>
          <% $name = "#{@current_user.firstname} #{@current_user.lastname}" %>
          <li class="divider-vertical"><%= link_to $name, profile_path %></li>
          <li class="divider-vertical"><%= link_to "Sign out", signout_path, :method => :delete %></li>
          <%else%>
            <td  style = "pull-left"><%= render "sessions/new"%></td>
          <% end %>
       </ul>
      </nav>
    </div>
  </div>
</header>
